body {
    margin: 0px;
    padding: 0px;
    background-color: blanchedalmond;
}

.head {
    text-align: center;
    margin-top: 4rem;
}

img {
    width: 450px;
    position: relative;
    left: 1%;
}

h1 {
    font-size: 50px;
    font-family: 'Kaushan Script', cursive;
}

p {
    font-size: 30px;
    font-family: 'Merienda', cursive;
}

.link a {
    font-size: 40px;
    padding: 10px 30px 10px 30px;
    background-color: black;
    color: white;

}
.link {
    margin-top: 3rem;
}